{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "AZURE_POSTGRESQL_CONNECTIONSTRING": "postgresql://adminuser:password@YOUR-SERVER.postgres.database.azure.com:5432/srmcarbon?ssl=true"
  }
}
